h1 {color : #ff0303;
   text-align : center; 
   font-style: 10px; 
   font-family: brushed script; }
h2 {color: #f07373;
   font-style: 5px;
   font-family: murry hill;}
h3 {color: #f07373;
    font-style: 3px;
    font-family: murry hill; }
h4 { color: #f07373;
    font-style: 10px;
    font-family: murry hill }
p  {color: #040859;
   font-family: palatino;
   font-style: italic;
   font-style: 200px;
	

